body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#switch-theme::after {
  content: '';
  @apply h-3 w-3 rounded-full translate-x-4 bg-light absolute left-0 top-0.5 transform scale-110  transition duration-200;
}

#switch-theme:checked::after {
  @apply transform scale-110 bg-white translate-x-0.5;
}